* {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  font-size: 62.5%; }

section {
  height: 100%;
  background-color: #96BFB6;
  padding: 5vh 5vw; }

.navbar__links {
  font-family: continuo, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2vw; }

.mobileNav__overlay {
  font-size: 2rem;
  font-family: continuo, sans-serif; }

.home h1 {
  font-family: bree, sans-serif;
  font-size: 4vw;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1rem; }

.home h2 {
  font-size: 2.5vw;
  font-weight: 300;
  font-style: normal; }

.home span {
  font-size: 3vw;
  font-weight: 300;
  font-style: italic; }

.about p {
  font-size: 1vw;
  font-family: bree, sans-serif;
  font-weight: 300;
  font-style: normal; }

.about__bottom-text--soft {
  font-family: yrsa, serif;
  font-style: normal;
  font-weight: 400; }

.skills {
  font-size: 50%;
  font-weight: 600; }
  .skills .row {
    font-size: 1.3rem;
    font-weight: 400; }
  .skills h3 {
    font-family: bree, sans-serif;
    font-weight: 600;
    font-size: 2.6rem; }
  .skills__chart {
    font-family: exo-soft, sans-serif; }

.education {
  font-size: 150%;
  font-family: bree, sans-serif; }
  .education h3 {
    font-weight: 600; }
  .education__card {
    font-family: yrsa, serif; }

.projects {
  font-size: 50%; }
  .projects h3 {
    font-family: continuo, sans-serif;
    color: #0A1A27; }

.contact {
  font-size: 1.5rem; }
  .contact__control {
    font-size: 1.5rem; }
  .contact__control::placeholder {
    font-size: 1.5rem; }

footer {
  font-style: yrsa, serif;
  font-size: 1vw; }

.dutchbros header h1 {
  font-family: bree, sans-serif;
  font-size: 2vw;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1rem; }

.dutchbros main {
  font-family: yrsa, serif;
  font-size: 1.3vw; }
  .dutchbros main h3 {
    font-family: continuo, sans-serif;
    color: #0A1A27; }

@media (max-width: 992px) {
  .home .container {
    margin-bottom: 2rem; }
  .home h1 {
    font-size: 8vw; }
  .home h2 {
    font-size: 6vw; }
  .home span {
    font-size: 8vw; }
  .dutchbros header h1 {
    font-size: 3.5vw; }
  .dutchbros .row {
    font-size: 3vw; } }

@media (max-width: 992px) and (orientation: landscape) {
  .home .container {
    margin: 0; }
  .home h1 {
    font-size: 6vw; }
  .home h2 {
    font-size: 3vw; }
  .home span {
    font-size: 5vw; }
  .home__left img {
    padding-top: 5vh;
    width: 20vw; }
  .home__left button {
    font-size: 1.5vw; }
  .home__links {
    display: none; } }

.draw-border {
  box-shadow: inset 0 0 0 4px #0A1A27;
  color: #0A1A27;
  transition: color 0.25s 0.08333s;
  position: relative; }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0; }
  .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px; }
  .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px; }
  .draw-border:hover {
    color: #F0EAD2; }
    .draw-border:hover::before, .draw-border:hover::after {
      border-color: #F0EAD2;
      transition: border-color 0s, width 0.25s, height 0.25s;
      width: 100%;
      height: 100%; }
    .draw-border:hover::before {
      transition-delay: 0s, 0s, 0.25s; }
    .draw-border:hover::after {
      transition-delay: 0s, 0.25s, 0s; }

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.5rem yrsa, serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem; }
  .btn:focus {
    outline: 2px dotted #0A1A27; }

.navbar {
  position: fixed;
  width: 100%;
  background-color: #96BFB6;
  z-index: 100;
  top: 0;
  transition: all 1s; }
  .navbar__social {
    margin: 0; }
    .navbar__social li {
      margin: 0 2vw;
      text-decoration: none;
      list-style: none; }
      .navbar__social li a {
        color: #0A1A27;
        font-size: 1.5vw;
        padding: 1vw 1vh; }
        .navbar__social li a i:hover {
          color: #F0EAD2;
          transition: all .3s ease-out;
          transform: scale(1.5); }
  .navbar__image {
    margin: 0;
    width: 10vw; }
  .navbar__links {
    margin: 0; }
    .navbar__links li {
      margin: 0 2vw;
      display: inline; }
      .navbar__links li a {
        color: #0A1A27;
        text-decoration: none; }
        .navbar__links li a:hover {
          color: #F0EAD2;
          transition: all .2s; }

.navTop {
  padding-top: 8vh;
  background-color: transparent; }

.active {
  border-bottom: 3px double #0A1A27; }

.visible {
  display: flex; }

.mobileNav__overlay {
  display: none;
  z-index: 100;
  height: 100vh;
  width: 100%;
  background-color: #96BFB6;
  position: fixed; }
  .mobileNav__overlay-links ul {
    padding: 0;
    margin: 0; }
    .mobileNav__overlay-links ul a {
      color: #0A1A27;
      text-decoration: none; }
      .mobileNav__overlay-links ul a li {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        height: 16.6vh;
        border-bottom: 1px solid #0A1A27;
        box-shadow: 0 2px 10px #0A1A27; }
        .mobileNav__overlay-links ul a li:hover {
          color: #F0EAD2;
          transition: all .2s; }
  .mobileNav__overlay-links--social {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5vh; }
    .mobileNav__overlay-links--social a i {
      font-size: 8vw; }
      .mobileNav__overlay-links--social a i:hover {
        color: #F0EAD2;
        transition: all .3s ease-out;
        transform: scale(1.5); }

.mobileButton__container {
  z-index: 99999999999;
  position: fixed;
  text-align: center;
  top: 2rem;
  left: 2rem;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #0A1A27;
  padding: .5rem 0;
  box-shadow: 0 0 5px rgba(150, 191, 182, 0.8), 0 0 10px rgba(10, 26, 39, 0.8); }

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #96BFB6;
  margin: 6px auto;
  transition: 0.4s; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px); }

@media (max-width: 992px) and (orientation: landscape) {
  .mobileNav__overlay-links--social a i {
    font-size: 8vh; } }

footer {
  background-color: #0A1A27;
  color: #F0EAD2;
  padding-bottom: 2rem; }
  footer img {
    padding: 2rem 0;
    width: 20vw;
    max-width: 20rem;
    display: block;
    margin: auto; }

.home {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(150, 191, 182, 0.8), rgba(150, 191, 182, 0.8)), url(/images/annie-xia-pgb-KOJXhwk-unsplash.jpg);
  -webkit-background-image: linear-gradient(0deg, rgba(150, 191, 182, 0.8), rgba(150, 191, 182, 0.8)), url(/images/annie-xia-pgb-KOJXhwk-unsplash.jpg);
  -moz-background-image: linear-gradient(0deg, rgba(150, 191, 182, 0.8), rgba(150, 191, 182, 0.8)), url(/images/annie-xia-pgb-KOJXhwk-unsplash.jpg);
  -ms-background-image: linear-gradient(0deg, rgba(150, 191, 182, 0.8), rgba(150, 191, 182, 0.8)), url(/images/annie-xia-pgb-KOJXhwk-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh; }
  .home__left {
    margin: 0; }
    .home__left-photo {
      width: 50vw;
      max-width: 25rem;
      padding-bottom: 1vh;
      margin-bottom: 1vh;
      border-bottom: 2px solid #0A1A27; }
    .home__left button {
      margin-top: 2vh;
      background-color: #0A1A27;
      color: #96BFB6; }
  .home__links {
    font-size: 8vw;
    list-style: none; }
    .home__links i {
      color: #0A1A27;
      padding: 5vh 2vw 0 2vw; }
      .home__links i:hover {
        color: #F0EAD2; }
  .home__text h2 hr {
    width: 75%;
    margin: 1rem auto;
    height: .5rem; }

@media (max-width: 991.98px) {
  .home {
    height: 100%; } }

.about {
  hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  background-image: linear-gradient(rgba(150, 191, 182, 0.8), 1%, rgba(240, 234, 210, 0.8)); }
  .about__text {
    margin: auto; }
    .about__text-bottom--soft {
      margin-top: 5vh; }
      .about__text-bottom--soft img {
        width: 75%;
        height: 75%; }
  .about__icons {
    text-align: center;
    width: 100%;
    margin: 5vh 0 5vh 0; }
    .about__icons li {
      list-style-type: none;
      display: inline;
      margin: 0 2vw; }
      .about__icons li i {
        font-size: 2rem;
        color: #96BFB6; }
  .about img {
    max-width: 50%; }

@media (max-width: 991.98px) {
  .about p {
    font-size: 3.5vw; } }

@media (max-width: 991.98px) and (orientation: landscape) {
  .about p {
    font-size: 2.5vh; } }

.contact {
  background-image: linear-gradient(rgba(10, 26, 39, 0.8), rgba(10, 26, 39, 0.8));
  height: 100vh; }
  .contact__name, .contact__info, .contact__comment {
    padding: 2rem 0; }
  .contact__control {
    border-radius: 1rem;
    height: 5rem;
    width: 100%;
    padding-left: 1rem;
    border: none; }
  .contact textarea {
    height: 10rem;
    border-radius: 1rem; }
  .contact__btn {
    color: #96BFB6;
    padding: 1rem 2rem;
    margin: 0 1rem;
    background-color: transparent;
    text-transform: uppercase;
    border: 1px solid #96BFB6;
    box-shadow: 0 2px 5px #96BFB6;
    border-radius: 1rem;
    transition: all .2s; }
    .contact__btn:active {
      box-shadow: 0 1px 1px #96BFB6;
      transform: scale(0.98) translateY(1px); }

@media (max-width: 991.98px) {
  .contact {
    padding: 0; }
  .contact__name,
  .contact__info {
    padding: 0;
    margin: 0 2rem; }
  .contact__name div,
  .contact__info div,
  .contact__comment {
    margin: 1rem 2rem;
    padding: 0; } }

@media (max-width: 991.98px) and (orientation: landscape) {
  .contact {
    height: 100%;
    padding: 5vh 0;
    font-size: 1.5vh; }
    .contact__control {
      height: 7vh; }
    .contact textarea {
      height: 20vh; } }

.projects {
  background-image: linear-gradient(rgba(240, 234, 210, 0.8), rgba(240, 234, 210, 0.8));
  height: 100%; }
  .projects hr {
    border-bottom: 3px solid #96BFB6;
    box-shadow: 2px 0 4px #96BFB6; }
  .projects .row:not(:first-of-type) {
    padding-top: 1vh; }
  .projects .featured {
    text-align: center; }
    .projects .featured img {
      width: 23vw;
      height: 18vh;
      transition: all .5s ease-out;
      box-shadow: 0 0 2rem #0A1A27; }
      .projects .featured img:hover {
        transform: scale(1.2);
        box-shadow: 0 0 1rem #0A1A27; }
  .projects__carousel-card {
    position: relative;
    height: 100%;
    padding: .5rem;
    cursor: pointer;
    padding-bottom: 1rem; }
    .projects__carousel-card:focus {
      cursor: grabbing; }
    .projects__carousel-card a,
    .projects__carousel-card h5,
    .projects__carousel-card span {
      color: #0A1A27;
      font-family: exo-soft, sans-serif;
      text-decoration: none; }
      .projects__carousel-card a img,
      .projects__carousel-card h5 img,
      .projects__carousel-card span img {
        width: 90%;
        height: 50%; }
        .projects__carousel-card a img:active,
        .projects__carousel-card h5 img:active,
        .projects__carousel-card span img:active {
          cursor: grabbing; }
    .projects__carousel-card--overlay {
      z-index: 10;
      display: none;
      height: 50vh;
      width: 60vw;
      background-color: rgba(150, 191, 182, 0.9);
      background-image: linear-gradient(0deg, rgba(150, 191, 182, 0.8), rgba(255, 255, 255, 0.8), 80%, rgba(150, 191, 182, 0.8));
      border-radius: 1rem;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      flex-direction: column;
      box-shadow: 0 0 2rem #0A1A27; }
      .projects__carousel-card--overlay .btn {
        width: 20vw;
        margin-bottom: 2rem; }
      .projects__carousel-card--overlay .draw-border {
        box-shadow: inset 0 0 0 4px #0A1A27;
        color: #0A1A27;
        transition: color 0.25s 0.08333s;
        position: relative; }
        .projects__carousel-card--overlay .draw-border::before, .projects__carousel-card--overlay .draw-border::after {
          border: 0 solid transparent;
          box-sizing: border-box;
          content: '';
          pointer-events: none;
          position: absolute;
          width: 0;
          height: 0;
          bottom: 0;
          right: 0; }
        .projects__carousel-card--overlay .draw-border::before {
          border-bottom-width: 4px;
          border-left-width: 4px; }
        .projects__carousel-card--overlay .draw-border::after {
          border-top-width: 4px;
          border-right-width: 4px; }
        .projects__carousel-card--overlay .draw-border:hover {
          color: #96BFB6; }
          .projects__carousel-card--overlay .draw-border:hover::before, .projects__carousel-card--overlay .draw-border:hover::after {
            border-color: #96BFB6;
            transition: border-color 0s, width 0.25s, height 0.25s;
            width: 100%;
            height: 100%; }
          .projects__carousel-card--overlay .draw-border:hover::before {
            transition-delay: 0s, 0s, 0.25s; }
          .projects__carousel-card--overlay .draw-border:hover::after {
            transition-delay: 0s, 0.25s, 0s; }
  .projects__carousel-web--image {
    margin-bottom: 1rem; }
    .projects__carousel-web--image img {
      width: 100%;
      margin-right: 0; }
  .projects__carousel-graphic img {
    margin: auto; }
  .projects__carousel-graphic--image {
    width: 41%;
    height: 50%;
    margin-bottom: 1rem;
    margin: auto; }
    .projects__carousel-graphic--image---wide {
      width: 100%;
      height: 100%;
      margin: 0; }
  .projects button {
    text-transform: uppercase; }
  .projects .draw-border {
    box-shadow: inset 0 0 0 4px #0A1A27;
    color: #0A1A27;
    transition: color 0.25s 0.08333s;
    position: relative; }
    .projects .draw-border::before, .projects .draw-border::after {
      border: 0 solid transparent;
      box-sizing: border-box;
      content: '';
      pointer-events: none;
      position: absolute;
      width: 0;
      height: 0;
      bottom: 0;
      right: 0; }
    .projects .draw-border::before {
      border-bottom-width: 4px;
      border-left-width: 4px; }
    .projects .draw-border::after {
      border-top-width: 4px;
      border-right-width: 4px; }
    .projects .draw-border:hover {
      color: #96BFB6; }
      .projects .draw-border:hover::before, .projects .draw-border:hover::after {
        border-color: #96BFB6;
        transition: border-color 0s, width 0.25s, height 0.25s;
        width: 100%;
        height: 100%; }
      .projects .draw-border:hover::before {
        transition-delay: 0s, 0s, 0.25s; }
      .projects .draw-border:hover::after {
        transition-delay: 0s, 0.25s, 0s; }

#featured-thin {
  width: 50%; }

#project_image {
  width: 25vw;
  height: 25vh;
  margin: 1rem auto; }

#overlay_close {
  background-color: transparent;
  border: 2px solid #0A1A27;
  color: #0A1A27;
  border-radius: .5rem;
  font-size: 100%;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 1rem;
  left: 1rem; }

.slick-prev:before,
.slick-next:before {
  color: #0A1A27; }

.slick-list {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  box-shadow: 0 1px 2rem #0A1A27; }

@media (max-width: 991.98px) {
  .projects__carousel-card img {
    width: 50vw;
    margin: auto; }
  .projects__carousel-card--overlay #project_image {
    width: 80vw;
    margin-top: 2rem; }
  .projects__carousel-card--overlay .btn {
    width: 50vw;
    padding: 1rem 2rem; }
  .projects__carousel-card--overlay a {
    padding: 0; }
  .projects {
    overflow-x: hidden; }
    .projects .featured img {
      margin: 1rem auto;
      width: 40vw;
      height: auto; }
  #featured-thin {
    width: 40%; } }

@media (max-width: 991.98px) and (orientation: landscape) {
  .projects__carousel-card--overlay {
    width: 80vw;
    height: 80vh; }
    .projects__carousel-card--overlay .btn {
      width: 50vw;
      padding: 1rem 2rem; }
    .projects__carousel-card--overlay a {
      padding: 0; } }

.skills {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(10, 26, 39, 0.8), rgba(10, 26, 39, 0.8)), url(https://images.unsplash.com/photo-1439792675105-701e6a4ab6f0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80);
  background-position: center;
  color: #96BFB6;
  height: 100%; }
  .skills .row {
    margin-bottom: 1rem; }
  .skills h3 {
    margin-top: 1rem; }
  .skills span {
    hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto; }
  .skills__chart {
    width: 50rem; }
    .skills__chart-skill {
      position: relative;
      display: flex;
      padding: .5rem;
      margin: 1rem 0;
      background: linear-gradient(#F0EAD2 0%, #0A1A27 10%, #0A1A27);
      border-radius: .8rem;
      overflow: hidden;
      border: 2px solid #000;
      transition: .5s; }
      .skills__chart-skill::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: rgba(255, 255, 255, 0.1);
        z-index: 10; }
      .skills__chart-skill .name {
        position: relative;
        width: 8rem;
        text-align: right;
        color: #fff;
        text-transform: uppercase; }
      .skills__chart-skill .value {
        position: relative;
        width: 4rem;
        text-align: left;
        color: #fff;
        text-transform: uppercase; }
      .skills__chart-skill .percent {
        position: relative;
        width: calc(100% - 15rem);
        height: 2rem;
        margin: 0 1rem;
        border-radius: 1rem;
        background: #E1E9F0;
        box-shadow: inset 0 0 1rem #000;
        overflow: hidden; }
        .skills__chart-skill .percent .progress {
          position: absolute;
          opacity: 0;
          top: 0;
          left: 0;
          width: 70%;
          height: 100%;
          border-radius: 1rem;
          background: linear-gradient(45deg, rgba(150, 191, 182, 0.8), rgba(10, 26, 39, 0.8));
          box-shadow: inset 0 0 2px #000; }

@media (max-width: 1200px) {
  .skills__chart {
    padding: 0; }
  .skills .row {
    font-size: 1rem; } }

.thanks main {
  height: 100vh;
  background-image: linear-gradient(rgba(150, 191, 182, 0.8), rgba(150, 191, 182, 0.8));
  text-align: center;
  padding: 10rem; }

.thanksLogo {
  width: 20rem;
  height: auto;
  margin: 2rem auto; }

.thanks h3 {
  margin: 0;
  text-align: center;
  text-transform: uppercase; }

.thanks h5 a {
  color: #0A1A27; }

.dutchbros header {
  margin: 3vh; }
  .dutchbros header img {
    width: 10vw; }

.dutchbros main {
  color: #0A1A27; }
  .dutchbros main hr {
    border-bottom: 3px solid #96BFB6;
    box-shadow: 2px 0 4px #96BFB6; }
  .dutchbros main .step1 a,
  .dutchbros main .step3 a,
  .dutchbros main .step4 a {
    color: #0A1A27; }
  .dutchbros main .step1,
  .dutchbros main .step4 {
    width: 100%;
    background-image: linear-gradient(rgba(150, 191, 182, 0.8), rgba(150, 191, 182, 0.8)); }
  .dutchbros main .step2 {
    background-color: #0A1A27;
    color: #f2f2f2; }
    .dutchbros main .step2 a {
      color: #f2f2f2; }
      .dutchbros main .step2 a img {
        box-shadow: 0 0 1rem #f2f2f2; }
  .dutchbros main .step3 {
    background-image: linear-gradient(rgba(240, 234, 210, 0.8), rgba(240, 234, 210, 0.8)); }
  .dutchbros main .row {
    height: 100%;
    width: 100vw;
    padding: 5vh; }
    .dutchbros main .row img {
      width: 20vw;
      margin: auto;
      box-shadow: 0 0 1rem #0A1A27;
      transition: all .5s; }
      .dutchbros main .row img:hover {
        transform: scale(1.2); }
    .dutchbros main .row a {
      width: fit-content;
      text-decoration: none; }
      .dutchbros main .row a:hover {
        text-decoration: overline; }
  .dutchbros main .dutchCarousel a {
    color: #0A1A27; }

@media (max-width: 992px) {
  .dutchbros header img {
    width: 20vw; } }
