@import "abstract/mixins.scss";
@import "abstract/variables.scss";

@import "base/base.scss";
@import "base/typography.scss";

@import "components/button.scss";

@import "layout/nav.scss";
@import "layout/footer.scss";

@import "pages/home.scss";
@import "pages/about.scss";
@import "pages/contact.scss";
@import "pages/projects.scss";
@import "pages/skills.scss";
@import "pages/thanks.scss";