@mixin active {
    text-shadow: 3px 3px 2px $color-dark-blue;
    border-bottom: 2px solid $color-sand;
    width: 101.5%;
}

@mixin parallax {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin iconHover {
    color: $color-sand;
    transition: all .3s ease-out;
    transform: scale(1.5);
}