//colors
$color-green: #96BFB6;
$color-dark-blue: #0A1A27;
$color-sand: #F0EAD2;
$color-light-blue: #E1E9F0;


//fonts
$bree: bree, sans-serif;
$continuo: continuo, sans-serif;
$yrsa: yrsa, serif;
$exo: exo-soft, sans-serif;