* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
    font-size: 62.5%;
}

section {
    height: 100%;
    background-color: $color-green;
    padding: 5vh 5vw;
}