.dutchbros {
    & header {
        margin: 3vh;

        & img {
            width: 10vw;
        }
    }

    & main {
        color: $color-dark-blue;

        & hr {
            border-bottom: 3px solid $color-green;
            box-shadow: 2px 0 4px $color-green;
        }

        & .step1 a,
        & .step3 a,
        & .step4 a {
            color: $color-dark-blue;
        }
        & .step1,
        & .step4 {
            width: 100%;
            background-image: linear-gradient(rgba($color-green, .8), rgba($color-green, .8));
        }
        & .step2 {
            background-color: $color-dark-blue;
            color: #f2f2f2;

            & a {
                color: #f2f2f2;
                & img {
                    box-shadow: 0 0 1rem #f2f2f2;
                }
            }
        }
        & .step3 {
            background-image: linear-gradient(rgba($color-sand, .8), rgba($color-sand, .8));
        }
        & .row {
            height: 100%;
            width: 100vw;
            padding: 5vh;

            & img {
                width: 20vw;
                margin: auto;
                box-shadow: 0 0 1rem $color-dark-blue;
                transition: all .5s;
                &:hover {
                    transform: scale(1.2);
                }
            }

            & a {
                width: fit-content;
                text-decoration: none;
                &:hover {
                    text-decoration: overline;
                }
            }
        }
        & .dutchCarousel {
            & a {
                color: $color-dark-blue;
            }
        }
    }
}

@media (max-width: 992px) {
    .dutchbros {
        & header img {
            width: 20vw;
        }
    }
}