.home {
    @include parallax;
    background-image: linear-gradient(0deg, rgba($color-green, .8), rgba($color-green, .8)), url(/images/annie-xia-pgb-KOJXhwk-unsplash.jpg);
    -webkit-background-image: linear-gradient(0deg, rgba($color-green, .8), rgba($color-green, .8)), url(/images/annie-xia-pgb-KOJXhwk-unsplash.jpg);
    -moz-background-image: linear-gradient(0deg, rgba($color-green, .8), rgba($color-green, .8)), url(/images/annie-xia-pgb-KOJXhwk-unsplash.jpg);
    -ms-background-image: linear-gradient(0deg, rgba($color-green, .8), rgba($color-green, .8)), url(/images/annie-xia-pgb-KOJXhwk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

    &__left {
        margin: 0;
        &-photo {
            width: 50vw;
            max-width: 25rem;
            padding-bottom: 1vh;
            margin-bottom: 1vh;
            border-bottom: 2px solid $color-dark-blue;
        }

        & button {
            margin-top: 2vh;
            background-color: $color-dark-blue;
            color: $color-green;
        }
    }

    &__links {
        font-size: 8vw;
        list-style: none;
        & i {
            color: $color-dark-blue;
            padding: 5vh 2vw 0 2vw;

            &:hover {
                color: $color-sand;
            }
        }
    }

    &__text {
        & h2 {
            & hr {
                width: 75%;
                margin: 1rem auto;
                height: .5rem;
            }
        }
    }
}

@media (max-width: 991.98px) {
    .home {
        height: 100%;
    }
}