.skills {
    @include parallax;
    background-image: linear-gradient(rgba($color-dark-blue, .8), rgba($color-dark-blue, .8)), url(https://images.unsplash.com/photo-1439792675105-701e6a4ab6f0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80);
    background-position: center;
    color: $color-green;
    height: 100vh;

    & .row {
        margin-bottom: 1rem;
    }    

    h3 {
        margin-top: 1rem;
    }

    & span {
        hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
    }

    &__chart {
        width: 50rem;

        &-skill {
            position: relative;
            display: flex;
            padding: .5rem;
            margin: 1rem 0;
            background: linear-gradient($color-sand 0%, $color-dark-blue 10%, $color-dark-blue);

            border-radius: .8rem;
            overflow: hidden;
            border: 2px solid #000;
            transition: .5s;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 50%;
                background: rgba(255,255,255,.1);
                z-index: 10;
            }

            & .name {
                position: relative;
                width: 8rem;
                text-align: right;
                color: #fff;
                text-transform: uppercase;
            }

            & .value {
                position: relative;
                width: 4rem;
                text-align: left;
                color: #fff;
                text-transform: uppercase;
            }

            & .percent {
                position: relative;
                width: calc(100% - 15rem);
                height: 2rem;
                margin: 0 1rem;
                border-radius: 1rem;
                background: $color-light-blue;
                box-shadow: inset 0 0 1rem #000;
                overflow: hidden;

                & .progress {
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    left: 0;
                    width: 70%;
                    height: 100%;
                    border-radius: 1rem;
                    background: linear-gradient(45deg, rgba($color-green, .8), rgba($color-dark-blue, .8));
                    box-shadow: inset 0 0 2px #000;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .skills {
        &__chart {
            padding: 0;
        }
        & .row {
            font-size: 1rem;
        }
    }
}
