/* Color Theme Swatches in Hex
color: #BFAABC; }
color: #0F2026; }
color: #486F73; }
color: #F27E63; }
color: #F2E6E4; } */


header, nav, main, address, footer {
    display: block;
}

* {
    margin: 0;
    padding: 0;
    height: auto;
}

#wrapper {
    width: 80%;
    background-color: #F2E6E4;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #486F73;
    color: #0F2026;
    font-family: 'Odibee Sans', cursive;
    line-height: 1.5;
	height: 100%;
}

header {
    height: 300px;
    background-image: url(images/horizon.png);
    background-position: center;
    background-repeat: 0;
    background-size: cover;
    
}

header h1 {
    float: right;   
    margin: 100px;
    color: #F27E63;
    text-shadow: 3px 3px 4px #0F2026;
    font-size: 4em;
    letter-spacing: 5px;
}

header .button a{
    float: left;
    margin-top: 230px;
    margin-left: 50px;
    padding: 10px;
    background-color: #F27E63;
    color: #0F2026;
    border-radius: 100px;
    text-decoration: none;
}

header .button a:hover {
    background-color: #486F73;
}

nav {
    width: 100%;
    background-color: #F27E63;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
}

nav ul {
	display: flex;
	justify-content: space-around;
}

nav a:link,
nav li {
    color: #F2E6E4;
    text-decoration: none;
    display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
}

nav li:hover {
	background-color: #0F2026;
}

nav a:visited {
    color: #F2E6E4;
}

main {
    height: 100%;
	padding-bottom: 50px;
}

.activePage {
	background-color: #0F2026;
}

footer {
	display: flex;
	justify-content: center;
	font-size: 1.2em;
    width: 80%;
    color: #F2E6E4;
    background-color: #0F2026;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer {
	display: flex;
	justify-content: center;
}

/* Index.html */

.blog {
    display: inline-block;
    text-align: center;
}

.blog img{
    width: 50%;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 25px;
    border-radius: 100px;
    box-shadow: 0px 0px 50px #000;
}

.blog h3 {
    text-align: left;
    margin-left: 100px;
}

.blog hr {
    margin-bottom: 25px;
    margin-left: 100px;
    margin-right: 350px;
}

.blog p {
    text-align: left;
    text-indent: 50px;
    margin-left: 100px;
    margin-right: 200px;
}

/* Travels.html */

.places {
    text-align: center;
}

#map {
    margin-top: 50px;
    height: 500px;
    width: 80%;
}

/*contact*/
main h2 {
	margin-left: 50px;
    padding-top: 50px;
    font-size: 3em;
}

main hr {
	margin-left: 50px;
	margin-right: 200px;
}

form {
    text-align: center;
    padding-bottom: 50px;
}

.formInput {
    height: 50px;
    width: 40%;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #F27E63;
    border: 3px solid #486F73;
	border-radius: 10px;
	color: #FFF;
	font-size: 1em;
}

form label {
    font-size: 1.3em;
    margin-left: 5px;
    margin-right: 20px;
}

textarea {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 200px;
    width: 82%;
    background-color: #F27E63;
    color: #FFF;
    font-size: 1.3em;
    border: 3px solid #486F73;
    border-radius: 5px;
}

.btn {
    background-color: #486F73;
	height: 50px;
	width: 100px;
	font-size: 1.5em;
	border: 2px solid #F27E63;
	color: #FFF;
	margin-left: 10px;
	margin-right: 10px;
}

::placeholder {
	color: #FFF;
	opacity: .5;
}

/*index*/

.about {
	align-content: center;
	line-height: 35px;
	width: 82%;
	margin-left: 100px;
    height: 700px;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    margin-bottom: 35px;
}

#holden {
    width: 400px;
    display: block;
	box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset; 
	margin: 20px;
}

            /* PHOTOGRAPHY.HTML */
.row {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}

.photo,
.photo img{
    width: 350px;
    height: 450px;
    text-align: center;
}

.photo a {
    text-decoration: none;
    color: #0F2026;
}
.photo img:hover {
    transform: scale(1.2, 1.2);
    transition: ease-in .2s;
}


@media screen and (max-width: 1000px) {
    .about {
        padding-bottom: 200px;
    }
    footer {
        text-align: center;
        display: block;
    }
}
